.predictionArea {
  height: 100%;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  .steps {
      margin-top: 70px;
  }
  .content {
      display: flex;
      margin-top: 70px;
      .upLoad {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
              width: 40%;
              margin-bottom: 50px;
          }
      }
      .resultPhoto {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
              width: 40%;
              margin-bottom: 50px;
          }
      }                  
  }          
  .resultContent {     
      margin: 0 auto;              
  }    
}