.home {
    .steps {
        margin-top: 70px;
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 70px;
        img {
            width: 20%;
        }
    }
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 70px;
    }
}