.home {
    .steps {
        margin-top: 70px;
    }
    .content {
        display: flex;
        margin-top: 70px;
        .upLoad {
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 40%;
                margin-bottom: 50px;
            }
        }
        .resultPhoto {
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 40%;
                margin-bottom: 50px;
            }
        }            
        .resultContent {
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div, pre {
                height: 100px;
                overflow: auto;
            }   
            div:first-of-type {
                height: 15px;
            }                    
        }        
    }

}